<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
  <div class="fill">
	    <div class="container">
	      <h1><a class="brand" href="/">Jenny's Ideas</a></h1>
	      <ul class="nav">
	        <li class="active"><a href="/ideas">Ideas</a></li>
	        <li ><%= link_to 'New Idea', new_idea_path %></li>
	      </ul>
	    </div>
	  </div>
	</div>


	<div class="container">
		<%= yield %>
	</div>

	<footer>
		<div class="container">
			Rails Girls 2013
		</div>
	</footer>
</body>
</html>
